* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family2);
}

:root {
    --black-mode: #30302e;
    --white-mode: #ffffff;
    --color-bm: #777;
    --bgcolor-btn: #1a1a1a;
    --bgcolor-btn-hover: #3f3f3d;
    --font-family1: 'Playfair Display';
    --font-family2: 'DM Sans';
    --overbrand: #1a1a1a44;
}

body{ 
    background-color: var(--white-mode);
    display: grid;
    place-content: center;
}

body::selection {
    background-color: #1a1a1a;
    color: var(--white-mode);
}

/* Navbar */

.navbar {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 18px 25px;
    background-color: var(--white-mode);
}

.navbar__logo {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar__links {
    display: flex;
    align-items: center;
    width: auto;
}

/* btn - login, navbar */

.navbar__btn-login, .hero__btn-join,
.join__form input[type="submit"], 
.latest-banner__links-created {
    font-weight: 300;
    background-color: var(--bgcolor-btn);
    text-decoration: none;
    color: var(--white-mode);
    border-radius: 5px;
    margin-right: 10px;
    font-size: 0.95rem;
    border: none;
    text-wrap: nowrap;
    padding: 10px 32px;
}

.navbar__btn-login {
    font-size: 0.85rem;
}

.navbar__btn-login:hover, 
.hero__btn-join:hover,
.latest-banner__links-created:hover,
.join__form input[type="submit"]:hover {
    background-color: var(--bgcolor-btn-hover);
}

.icon-menu {
    display: flex;
}

.icon-menu:hover {
    cursor: pointer;
}

.close-menu {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
}

#menu:checked ~ .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#menu:checked ~ .open-menu {
    opacity: 0;
    position: absolute;
}

#menu:checked ~ .close-menu {
    opacity: 1;
    position: static;
}

[type="checkbox"] {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
}

.navbar__list {
    list-style: none;
    display: none;
    background-color: var(--white-mode);
    position: absolute;
    z-index: 30;
    left: 0;
    top: 73px;
    width: 100%;
    height: 220px;
    padding: 10px;
    border-bottom: 0.4px solid #1a1a1a5b;
}

.navbar__list a {
    text-decoration: none;
    color: var(--black-mode);
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.85rem;
}

.navbar__list a:hover, 
.navbar__list a:active {
    color: var(--bgcolor-btn);
    text-decoration: underline;
}

/* Hero */

.hero {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: minmax(350px, 0.85fr);
    grid-auto-rows: 250px;
    gap: 2px;
}

.hero__info {
    align-self: center;
    margin: 25px;
}

.hero__tag, .offer__info-tag, .community__info-tag,
.join__info-tag, .latest-banner__tag {
    font-weight: 500;
    font-size: 0.82rem;
    letter-spacing: 2px;
}

.hero__tag,
.hero__title,
.hero__description {
    margin-bottom: clamp(10px, 2vw, 30px);
}

.hero__title {
    font-family: var(--font-family1);
    font-weight: 400;
    font-size: clamp(2rem, 3.2vw, 3rem);
    line-height: 3rem;
}

.hero__description {
    max-width: 350px;
}

.hero__btn-join {
    margin-top: 5px;
    padding: 10px 32px;
}

.hero__image {
    object-fit: cover;
    position: relative;
}

.hero__info,
.hero div:nth-child(2),
.hero div:last-child {
    grid-column: span 4;
}

.hero div:nth-child(3),
.hero div:nth-child(4),
.hero div:nth-child(5),
.hero div:nth-child(6) {
    grid-column: span 2;
}

.overbrand {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a77;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.hero__image-place {
    color: #fffd;
    font-size: 0.85rem;
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 20;
}

img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

/* Offers */

.offer, .community, .join, .latest-banner {
    padding: 60px 25px;
    font-size: 0.90rem;
}

.offer__info-tag,
.offer__info-title,
.community__info-tag,
.join__info-tag,
.join__info-title,
.latest-banner__tag,
.latest-banner__title {
    margin-bottom: 15px;
}

.offer__info-title,
.community__info-title,
.join__info-title,
.latest-banner__title {
    font-family: var(--font-family1);
    font-size: clamp(1.6rem, 2.5vw, 2.2rem);
    font-weight: 400;
}

.offer__info-description {
    max-width: 550px;
    line-height: 1.8rem;
    margin-bottom: 4rem;
}

.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 55px;
    row-gap: 30px;
}

.offer__item {
    flex: 1 1 200px;
}

.offer__item-icon {
    display: inline-block;
    /* padding: 20px 0px; */
    padding-bottom: 20px;
}

.offer__item-title {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.offer__info-description {
    max-width: 500px;
    line-height: 1.7rem;
}

/* Commumity */

.community__info-title {
    margin-bottom: 4rem;
}

.community__testimonies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 55px;
    row-gap: 40px;
}

.community__item-testimony > p{
    font-style: italic;
    font-weight: 300;
    margin-bottom: 17px;
}

.community__item-person {
    display: flex;
    align-items: center;
    gap: 10px;
}

.community__item-person img {
    width: 40px;
    border-radius: 100%;
}

.community__item-testimony {
    flex: 1 1 200px;
}

.community__item-info span {
    font-weight: 500;
}

.community__item-info p {
    font-weight: 300;
    font-size: 0.82rem;
}

/* Join */

.join {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 50px;
}

.join__info-description {
    max-width: 500px;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}

.join__info,
.join__form {
    flex: 1 1 340px;
}

.join__info-numbers {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.join__info-number span {
    font-family: var(--font-family1);
    font-size: 2.2rem;
}

.join__info-number p {
    font-size: 0.78rem;
}

.join__form {
    max-width: 600px;
    margin: auto;
}

.join__form form {
    display: flex;
    flex-direction: column;
}

.join__form-title {
    font-family: var(--font-family1);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.join__form label {
    margin-bottom: 8px;
}

.join__form input {
    padding: 8px;
    margin-bottom: 15px;
}

.join__form input[type="submit"] {
    width: 100%;
}

/* Latest Banner */

.latest-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-banner__title {
    max-width: 500px;
    text-align: center;
    font-size: clamp(2rem, 3.2vw, 3rem);
}

.latest-banner__description {
    max-width: 470px;
    margin-bottom: 25px;
    text-align: center;
}

.latest-banner__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
}

.latest-banner__links-see {
    text-decoration: none;
    color: var(--bgcolor-btn);
    font-weight: 500;
    padding: 10px 32px;
}

.latest-banner__links-see,
.latest-banner__links-created {
    display: inline-block;
    font-size: 0.90rem;
}

/* Footer */

.footer {
    padding: 28px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 17px;

}

.footer__links {
    list-style: none;
    display: flex;
}

.footer__links a {
    padding: 20px;
    padding: 8px 10px;
    font-size: 0.85rem;
    text-decoration: none;
    color: var(--bgcolor-btn);
}

.footer__logo {
    font-family: var(--font-family1);
    font-weight: bold;
}

.footer__copyright {
    font-size: 0.85rem;
}

@media screen and (min-width: 700px){
 
    /* Hero */

    .hero {
        grid-template-rows: minmax(350px, 0.72fr) repeat(2, minmax(180px, 0.37fr));
    }

    .hero__info,
    .hero div:nth-child(2) {
        grid-column: span 2;
    }

    .hero div:nth-child(3),
    .hero div:nth-child(4),
    .hero div:nth-child(5),
    .hero div:nth-child(6) {
        grid-column: span 1;
    }

    .hero div:last-child {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    /* Footer */

    .footer {
        justify-content: space-between;
    }

}

@media screen and (min-width: 900px) {

    /* Navbar */
   
    .navbar__list {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        height: auto;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
    }
    
    #menu:checked ~ .navbar__list {
        flex-direction: row;
        justify-content: center;
    }
    
    .icon-menu {
        display: none;
    }
    
    .navbar__links {
        flex: 1;
        flex-direction: row-reverse;
    }
    
    .navbar__btn-login {
        margin: 0;
    }

}