* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    height: auto;
    min-height: 100vh;
}

nav {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: #444;
    font-size: 1.01rem;
}

nav span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #f60;
}

.header__flayer {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.header__info, .header__img {
    flex: 1;
    min-width: 450px;
}

.header__info p {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 12px;
}

.header__info h1 {
    margin-bottom: 30px;
    font-size: 3em;
}

h1 {
    display: flex;
    flex-direction: column;
}

h1 span:first-child {
    color: #444;
}

h1 span:last-child {
    color: #f60;
}

.header__flayer button {
    padding: 10px 40px;
    background-color: #f60;
    border: none;
    border-radius: 30px;
    font-size: 1.05rem;
    font-weight: bold;
    color: #fff;
}

.header__info p {
    line-height: 1.8em;
    text-wrap: balance;
    font-size: 1.24rem;
}

.header__img {
    display: flex;
    justify-content: center;
}

.header__img img {
    width: 80%;
    max-width: 500px;
    min-width: 200px;
}


.services {
    height: auto;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    background-color: #f60;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__container {
    max-width: 1200px;
    margin: auto;
}

.services h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin: 10px;
    text-align: center;
}

.services__container > p {
    max-width: 700px;
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
}

.services__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.services__item {
    max-width: 250px;
    align-items: center;
}

.services__items img {
    max-width: 200px;
}

.services__items h3 {
    font-weight: 400;
    font-size: 1.5em;
}

.services__items p {
    font-size: 1em;
    line-height: 1.6em;
    text-wrap: balance;
}

.contacts {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts__container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.contacts__container h2 {
    margin: 20px 0;
    font-size: 2.5em;
    font-weight: 400;
    color: #f60;
    text-align: center;
}

.contacts__container p {
    margin: 20px 20px;
    text-align: center;
    line-height: 1.7em;
    font-size: 1.2rem;
    color: #444;
}

.contacts__container div {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.contacts__container div :is(input, textarea) {
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 30px;
    font-size: 1.01rem;
}

.contacts__container div label {
    margin-top: 10px;
    color: #444;
}

.contacts__container input[type="submit"] {
    background-color: #f60;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.contacts__container textarea {
    resize: none;
    height: 150px;
}

footer {
    background-color: #f60;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
}